* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header, main {
    width: 100%;
    height: auto;
    background-color: #d2e5c2;
}

.container, .container-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

button {
    width: 10%;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.container h1 {
    padding: 10px;
}

/* main */
.result {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 25px;
}

.container-grid {
    padding: 50px 150px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 614px;
    padding: 10px;
    border: 15px solid black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #383838;
    cursor: pointer;
}

.square-easy {
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.square-medium {
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.square-difficult {
    height: calc(100% / 7);
    width: calc(100% / 7);
}

.square-active {
    background-color: lightblue;
}

.square-bomb {
    background-color: red;
}